$('#error_explanation ul').html('');
<% if @jingle.errors.any? %>
  $('.ui.modal > .content').html('<%= j render "form" %>');
  $('.ui.modal > .content').find('#error_explanation').html($('<ul>'));
  <% @jingle.errors.full_messages.each do |message| %>
    $('#error_explanation ul').append('<li><%== message%></li>');
  <% end %>
  $(".ui.modal").modal("show");
<% else %>
  $('.ui.modal').modal("hide");
  $('#jingles').html('<%= j render(partial: "jingles/item", collection: @jingles) %>');
  $('.pagination').replaceWith('<%= j paginate(@jingles) %>');
<% end %>
