$('#error_explanation ul').html('');
<% if @jingle.errors.any? %>
  $('.modal-content').html('<%= j render "form" %>');
  $('.modal-content').find('#error_explanation').html($('<ul>'));
  <% @jingle.errors.full_messages.each do |message| %>
    $('#error_explanation ul').append('<li><%== message%></li>');
  <% end %>
  $(".modal-state").prop('checked', true);
<% else %>
  $.notify('Jingle was successfully updated.', 'success');
  $(".modal-state").prop('checked', false);
  $('.container').html('<%= j render(template: "jingles/index") %>');
<% end %>
