.header
  h3 = "#{@audio.persisted? ? 'Edit' : 'New'} audio"

= form_for [:users, @audio], html: { multipart: true, style: 'height:100px;', class: 'dropzone' }, remote: true, format: :js do |f|
  | Drop files here

