.jingle
  = image_tag item.image.file.url(:thumb), data: { image: item.image.file.url(:medium) }, class: 'jingle-image'
  .jingle-header
    h4 = link_to item.title, item, class: 'header', remote: true
