@import 'bourbon';
@import 'neat';
@import 'icomoon';

main {
  @include outer-container;
  .sidebar{
    @include span-columns(3);
  }
  .content{
    img{
      max-width:100%;
    }
    @include span-columns(9);
    #jingles{
      $mobile: new-breakpoint(max-width 767px 4);
      $tablet: new-breakpoint(max-width 1024px 4);
      .card{
        @include span-columns(3 of 9);
        @include media($mobile) {
          @include span-columns(8 of 9);
        }
        @include media($tablet) {
          @include span-columns(4 of 9);
        }
      }
    }
    .pagination{
      @include outer-container;
      @include span-columns(9 of 9);
    }
  }
}
