@import 'normalize-scss';
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'icomoon';
@import 'animate-css';
@import 'mixins';

// Settings
@import 'settings/colors.scss';

@import 'jingles';
@import 'modal';
@import 'search_bar';
@import 'dropzone';
@import 'footer';
@import 'coverflow';
@import 'shelf';

$mobile: new-breakpoint(max-width 992px 12);

$player-height: 170px;

html, body {
  height: 100%;
}
#header{
  background-color: $yellow;
}
#header {
  height: $player-height;
}
.container {
  height: calc(100vh - 56px - 170px);
}

img {
  max-width:100%;
}

.hide {
  display: none;
}

.dz-clickable {
  .dz-error-mark,
  .dz-success-mark{
    display:none;
  }
}

.background-image {
  background-image: image-url('landscape.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
