.jingles {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  .jingle {
    @include flex-basis(20em);
    @include flex-grow(1);
    margin: 0 1em;
  }

  .jingle-image {
    background: whitesmoke;
    overflow: hidden;
    width: 100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $blue;
  }
}
