.shelf{
  position:relative;
  bottom:0em;
  left:0;
  .jingle{
    height: 300px;
    position:relative;
    overflow:visible;

    .jingle-content{
      background: $green;
      position:absolute;
      bottom:0;
      width: 100%;
      padding: 2%;
      a{
        color:white;
        text-decoration:none;
      }
    }
  }
}